@model IEnumerable<ProjectManagementSystem.Models.ProjectInfoUsers>
@inject IProjectUsersRepo ProjectUsersRepo

@{
    ViewData["Title"] = "ViewProjects";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectInfo.Name)
            </th>
            <th>
               Short Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectInfo.Status)
            </th>
            <th>No Of Member</th>
            <th>No Of Task</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectInfo.CodeName)
            </td>
            <td>@Html.DisplayFor(modelItem => item.ProjectInfo.Status)</td>
            <td>@ProjectUsersRepo.Count(p=>p.ProjectInfoId==item.ProjectInfoId)</td>
            <td>@ProjectUsersRepo.Count(p=>p.ProjectInfoId==item.ProjectInfoId)</td>
            
        </tr>
}
    </tbody>
</table>
